@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-discord-darkest text-white font-whitney;
  }
}

@layer components {
  .discord-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #202225 #2f3136;
  }
  
  .discord-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  
  .discord-scrollbar::-webkit-scrollbar-track {
    background: #2f3136;
  }
  
  .discord-scrollbar::-webkit-scrollbar-thumb {
    background: #202225;
    border-radius: 4px;
  }
  
  .discord-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #1a1a1a;
  }
}